
# Everything

*

# But don't ignore dotfiles

!/.**

#++ VARIOUS FILES
/.history
/.histfile
/.nmcli-history
/.python_history
/.Xauthority
/.bash_history
/.bash_logout
/.viminfo
/.gitconfig
/.esd_auth
/.steampid
/.steampath
/.pulse-cookie
/.Rhistory
/.lesshst
/.sc-iminfo
/.config/mpd/
/.config/chromium/
/.config/enchant/
/.config/nvim/.netrwhist
/.config/qmk_firmware
/.config/suckless/dmenu/
/.config/suckless/surf/
/.stellarium/
/.surf/
/.vimgolf/
/.weechat/
/.git-credentials
/.config/QtProject.conf
/.notmuch-config
/.msmtp.log
/.config/RStudio/desktop.ini
/.config/dconf/user
/.vim/.netrwhist
/.viminfo.tmp
/.config/mimeapps.list
/.zcompdump
/.zshrc.zni
/.config/vifm/vifminfo
/.config/nvim/autoload/
/.config/nvim/plugged/
/.wget-hsts
/.mbsyncrc
/.abook
/.calcurse/
/.config/gtk-2.0/
/.config/menus/
/.config/mpv/
/.config/mutt-wizard/
/.config/mutt/.mailsynclastrun
/.config/ranger/
/.config/texput.log
/.mplayer/
/.vuescan/
/.vuescanrc
/.zotero/

# FOLDERS

/.cache/
/.mozilla/
/.local/
/.config/autostart/
/.config/pulse/
/.dropbox/
/.dropbox-dist/
/.steam/
/.pki/
/.config/unity3d/
/.config/Unknown\ Organization/
/.config/libreoffice/
/.config/zoomus.conf
/.zoom/
/.config/gtk-3.0/
/.gnupg/
/.rstudio-desktop/
/.password-store/
/.w3m/
/.offlineimap/
/.mail/
/.vim/plugged
/.cabal/
/.emacs.d/
/.config/configstore/
/.npm/
/.gem/*
/.java/
/.jssc/
/.bundle/
/.stack/
/.arduino15/
/.config/fish/
/.config/htop/
/.config/suckless/st/
/.config/msmtp/
